---
layout: page
title: About ID-10T
---

<ul class="nav nav-tabs" id="about-info">
    <li class="active"><a href="#about" data-toggle="tab">About</a></li>
    <li><a href="#contact" data-toggle="tab">Support</a></li>
    <li><a href="#committee" data-toggle="tab">The Team</a></li>
    <li><a href="#terms" data-toggle="tab">Terms</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade in active" id="about">
        <section>
            <p>A bunch of ID-10T's who have no idea or drive to write a lot of stuff</p>
        </section>
    </div>
    <div class="tab-pane fade" id="contact">
        <section>
            <p class="lead">Contact {{site.name}}</p>
            <p>For general enquires:</p>
            <table>
                <tr><td>
                    <address>
                        <p>General Enquires & Support:</td>
                        <td><a class="btn btn-default" href="mailto:{{site.contact_email}}"><span class="glyphicon glyphicon-envelope"></span> {{site.contact_email}}</a></p>
                    </address>
                </td></tr>
                <tr><td>
                    <address>
                        <p>{{site.name}} Website Support:</td>
                        <td><a class="btn btn-default" href="mailto:{{site.web_email}}"><span class="glyphicon glyphicon-envelope"></span> {{site.web_email}}</a></p>
                    </address>
                </td></tr>
            </table>
        </section>
    </div>   
    <div class="tab-pane fade" id="committee">
        <section>
            <p class="lead">ID-10T team:</p>
            <ul class="media-list">
                {% for member in site.data.team %}
                <li class="media">
                    {% if member.image == '' %}
                    <img class="pull-left img-thumbnail" src="{{site.imageurl}}team/default.jpg" alt="{{member.name}}" width="55px"/>
                    {% elseif member.image == null %}
                    <img class="pull-left img-thumbnail" src="{{site.imageurl}}team/default.jpg" alt="{{member.name}}" width="55px"/>
                    {% else %}
                    <img class="pull-left img-thumbnail" src="{{site.imageurl}}team/{{member.image}}" alt="{{member.name}}" width="55px"/>
                    {% endif %}
                    <div class="media-body">
                        <h4 class="media-heading">{{member.position}}</h4>
                        <p>Name: {{member.name}}</p>
                        <p>Email: <a href="mailto:{{member.email}}">{{member.email}}</a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    <div class="tab-pane fade" id="terms">
        <br /><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">{{site.name}}</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.        <h2>Fork our code on github</h2>
        <iframe src="http://ghbtns.com/github-btn.html?user=adamus1red&repo=tripping-octo-adventure&type=fork"
  allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20"></iframe>
    </div>
</div>
